<div class="container">
  <h1 style="color: green;"> Edit Department</h1>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">ID</label>
      <input type="text" class="form-control w-25" id="exampleInputEmail1" value="{{Id}}" #id>
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1 " class="form-label">Name</label>
      <input type="text" class="form-control w-25" id="exampleInputPassword1" value="{{Name}}" #name>
    </div>
    <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" class="form-control w-25" id="Location" value="{{Location}}" #loc>
      </div>
   
      <button (click)="edit(id.value,name.value,loc.value)" class="btn btn-success">Edit</button>
      <button class="btn btn-primary m-5" (click)="goBack()">Back</button>

    </form>
  </div>

  
